services:
  # FRONTEND: React (Vite) Static Site
  - type: web
    name: codeareana-app
    rootDir: client
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"

  # BACKEND: Node/Express Server
  - type: web
    name: codeareana-backend
    rootDir: backend
    runtime: node
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: NODE_VERSION
        value: "18.17.1"
      - key: PORT
        value: "10000"
